* {
    box-sizing: border-box;
}


/* Create three equal columns that floats next to each other */

.column1 {
    float: left;
    width: 15%;
    padding: 10px;
    height: 500px;
}

.column2 {
    float: left;
    width: 60%;
    padding: 10px;
    height: 500px;
}

.column3 {
    float: left;
    width: 25%;
    padding: 10px;
    height: 500px;
}

#trendings {
    background-color: #d4e5f1;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

tr {
    text-align: center;
}

#tweetArea {
    width: 300px;
    height: 100px
}

#tweetBtn {
    margin-top: 10px;
    width: 300px;
}